.adminBox {
    h1 {
        text-align: center;
    }
}

.ordersBox {
    font-size: 0.8rem;

    p {
        font-size: 0.8rem !important;

        span {
            font-weight: bold;
        }
    }

    h4 {
        font-size: 0.8rem;
        font-weight: bold;
    }

    /* button {
        display: flex;

        @media (max-width: 991px) {
            flex-wrap: wrap;
            
            div {
                width: 100%;
            }
        }

    } */
}

.orderName {
    margin-left: 1rem;
}

.productBox {
    margin-bottom: 1rem;

    span {
        font-weight: bold;
    }
}

.amounttBox {
    display: flex;
    justify-content: space-between;
}

.totalPrice {
    span {
        font-weight: bold;
    }
}