.adminBox {
    h1 {
        text-align: center;
    }
}

.ordersBox {
    font-size: 0.8rem;

    p {
        font-size: 0.8rem !important;
        font-weight: bold;

        span {
            font-weight: normal;
        }
    }

    h4 {
        font-size: 0.8rem;
    }

    button {
        b {
            pointer-events: none; 
        }

        span {
            margin: 0 1rem;
            font-size: 0.8rem;
            pointer-events: none;
            
            @media (max-width: 991px) {
                font-size: 0.6rem;
            }
        }
    }
}

.orderName {
    margin-left: 1rem;
}

.productBox {
    margin-bottom: 1rem;
    font-weight: bold;

    span {
        font-weight: normal;
    }
}

.amounttBox {
    display: flex;
    justify-content: space-between;
}

.totalPrice {
    font-weight: bold;

    span {
        font-weight: normal;
    }
}