.footerBox {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    width: 100%;
    font-size: 0.8rem;

    @media (max-width: 991px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.6rem !important;

        div {
            margin-bottom: 0.5rem;
        }
    }
}