.mainHeader {
  margin-bottom: 1rem;
  text-align: center;

  @media (max-width: 991px) {
    margin-bottom: 1rem;
  }
}

.mainPar {
  margin-bottom: 1rem !important;

  @media (max-width: 991px) {
    margin-bottom: 1rem !important;
  }
}

.wineHeader {
  margin-bottom: 2rem;
  text-align: center;

  @media (max-width: 991px) {
    margin-bottom: 1rem;
  }
}

.filterBox {
  position: sticky;
  top: 6rem;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2rem;
  z-index: 5;

  @media (max-width: 991px) {
    top: 0;
    margin: 0 -0.5rem 0.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  a {
    display: block;
    margin-left: 1rem;
    color: #2d2d2d;
    text-decoration: none;
    font-size: 0.9rem;
    text-decoration: underline;

    &:hover {
      color: var(--bs-link-hover-color);
    }

    &:before {
      position: relative;
      left: -0.2rem;
      display: inline-block;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 10px;
    }

    @media (max-width: 575px) {
      font-size: 0.8rem;
    }
  }
}

.whiteWine:before {
  background-color: rgb(76, 187, 76);
}

.redWine:before {
  background-color: rgb(160, 52, 52);
}

.roseWine:before {
  background-color: rgb(250, 131, 250);
}

.allWine:before {
  border: 1px solid #2d2d2d;
}

.warningBoxInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 4rem;
}

.warningBoxImage {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;

  img {
    height: 12rem;
    width: auto;
  }
}

.warningBoxText {
  h3 {
    margin-bottom: 3rem !important;
    font-size: 1.5rem !important;
    text-align: center;
  }

  p {
    font-size: 1.3rem !important;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 1rem !important;
    }
  }

  span {
    color: rgb(161, 2, 2);
  }
}
